*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #2c3e50;
}
header  img{
    height: 80px;;
    background: #fff;
    vertical-align: top;
}
header .enlaces a{
    color:#fff;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

header .enlaces a:hover{
    text-decoration: underline;
}
.contenedor-header{
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

body{
    background: #f2f2f2;
    font-family: sans-serif;
}

h1{
    text-align: center;
    margin: 20px  0;
}

.label-matriz{
    display: flex;
    width: 100%;
    justify-content: center;
}

.label-matriz label{
    display: block;
    margin:0 10px;
    font-weight: bold;
}

input[type="text"]{
    background:transparent;
    border: none;
    border-bottom: 3px solid #2c3e50;
    width: 80px;
    margin: 3px 3px;
    text-align: center;
}

.obtener-matriz{
    display:block;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: -20px;
    text-decoration: none;
    width: 200px;
    border: 2px solid #2c3e50;
    height:40px;
    font-size: 18px;
    color: #000;
}

.agregar{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.centrar{
    display: inline-block;
    margin:auto;
    text-align: center;
}

.procedimiento{
    background: #fff;
    width: 100%;
    margin: auto 40px;
    /* overflow: scroll; */
    padding: 20px 0;
    text-align: center;
}

.bottom{
    margin-bottom: 40px;
}

.br{
    display:block;
    margin: 40px 0;
    padding: 40px 0;
}